# Import dataset

In [1]:
import pandas as pd

# Replace 'your_dataset.csv' with the actual filename and path if needed
file_path = '/Users/gaston/Downloads/HRIS_June_Random.xlsx - Sheet1.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame to verify the data
df.head()

,Global ID,Gender,Employee Group,Employee Subgroup,Band Group,Employee Band,Band Equivalence,Status,Age Group,Tenure,...,Time in Position,Manager Flag,Zone,Country,City,Global Function,Inbev Entity Description,Special Group,Language,Inelegible
0,3,MALE,Executives(Bd I-VII),Permanent,V-VII,VI-B,VI,Active,25 YRS BUT LESS THAN 35 YRS OF AGE,5 YEARS BUT LESS THAN 10 YEARS SERVICE,...,6 MONTHS TO 1 YEAR,No,APC,India,Bangalore,PROCUREMENT,PROCUREMENT,No,English,No
1,14,MALE,Executives(Bd I-VII),Executive(BandV-VII),V-VII,VI-B,VI,Active,35 YRS BUT LESS THAN 45 YRS OF AGE,6 MONTHS BUT LESS THAN 1 YEAR SERVICE,...,6 MONTHS TO 1 YEAR,No,GHQ,India,Bengaluru,SOLUTIONS,SOLUTIONS,No,English,No
2,16,MALE,Executives(Bd I-VII),Executive(BandV-VII),V-VII,V-B,V,Active,25 YRS BUT LESS THAN 35 YRS OF AGE,1 YEAR BUT LESS THAN 5 YEARS SERVICE,...,1 YEAR TO 3 YEARS,Yes,GHQ,India,Bengaluru,SOLUTIONS,SOLUTIONS,No,English,No
3,19,MALE,Executives(Bd I-VII),Executive(BandV-VII),V-VII,VII-B,VII,Active,LESS THAN 25 YRS OF AGE,6 MONTHS BUT LESS THAN 1 YEAR SERVICE,...,6 MONTHS TO 1 YEAR,No,GHQ,India,Bengaluru,SOLUTIONS,SOLUTIONS,No,English,No
4,21,MALE,Executives(Bd I-VII),Executive(BandV-VII),V-VII,VII-A,VII,Active,35 YRS BUT LESS THAN 45 YRS OF AGE,1 YEAR BUT LESS THAN 5 YEARS SERVICE,...,LESS THAN 6 MONTHS,Yes,GHQ,India,Bengaluru,SOLUTIONS,SOLUTIONS BSC,No,English,No

# Explore dataset, including rows, columns, blank values and data types

In [2]:
# Count the number of missing values (blanks) in each column
missing_values = df.isnull().sum()

# Get the data types of each column
data_types = df.dtypes

# Display the result
print("Number of missing values by column:")
print(missing_values)

print("\nData types of each column:")
print(data_types)

Number of missing values by column:
Global ID                      0
Gender                      2200
Employee Group              2203
Employee Subgroup           2219
Band Group                  2200
Employee Band               2202
Band Equivalence            2201
Status                      2498
Age Group                   2210
Tenure                      2608
Time in Band                2900
Time in Position            3258
Manager Flag                   0
Zone                           0
Country                     2215
City                        2568
Global Function                0
Inbev Entity Description    2424
Special Group                 15
Language                      15
Inelegible                     0
dtype: int64

Data types of each column:
Global ID                    int64
Gender                      object
Employee Group              object
Employee Subgroup           object
Band Group                  object
Employee Band               object
Band Equivalence            object
Status                      object
Age Group                   object
Tenure                      object
Time in Band                object
Time in Position            object
Manager Flag                object
Zone                        object
Country                     object
City                        object
Global Function             object
Inbev Entity Description    object
Special Group               object
Language                    object
Inelegible                  object
dtype: object

# Remove data that is not useful for the project: inactive employees

In [3]:
# Count employees by Status
status_counts = df['Status'].value_counts()

# Display the result
print("Employees by status:")
print(status_counts)

Employees by status:
Active      36820
Inactive      307
Name: Status, dtype: int64

In [4]:
# Remove rows where 'Status' is 'Inactive'
df = df[df['Status'] == 'Active']

# Verify the changes
status_counts = df['Status'].value_counts()
print("Employees by status after removing 'Inactive' employees:")
print(status_counts)

Employees by status after removing 'Inactive' employees:
Active    36820
Name: Status, dtype: int64

# Remove data that is not useful for the project: columns Employee Subgroup, Employee Band, City, Inbev Entity Description, Special Group and Inelegibility

In [5]:
# List of columns to drop
columns_to_drop = ['Employee Subgroup', 'Employee Band', 'City', 'Inbev Entity Description', 'Special Group', 'Inelegible']

# Drop the columns
df = df.drop(columns=columns_to_drop, errors='ignore')

# Display the first few rows of the updated DataFrame
df.head()

,Global ID,Gender,Employee Group,Band Group,Band Equivalence,Status,Age Group,Tenure,Time in Band,Time in Position,Manager Flag,Zone,Country,Global Function,Language
0,3,MALE,Executives(Bd I-VII),V-VII,VI,Active,25 YRS BUT LESS THAN 35 YRS OF AGE,5 YEARS BUT LESS THAN 10 YEARS SERVICE,1 YEAR TO 3 YEARS,6 MONTHS TO 1 YEAR,No,APC,India,PROCUREMENT,English
1,14,MALE,Executives(Bd I-VII),V-VII,VI,Active,35 YRS BUT LESS THAN 45 YRS OF AGE,6 MONTHS BUT LESS THAN 1 YEAR SERVICE,6 MONTHS TO 1 YEAR,6 MONTHS TO 1 YEAR,No,GHQ,India,SOLUTIONS,English
2,16,MALE,Executives(Bd I-VII),V-VII,V,Active,25 YRS BUT LESS THAN 35 YRS OF AGE,1 YEAR BUT LESS THAN 5 YEARS SERVICE,1 YEAR TO 3 YEARS,1 YEAR TO 3 YEARS,Yes,GHQ,India,SOLUTIONS,English
3,19,MALE,Executives(Bd I-VII),V-VII,VII,Active,LESS THAN 25 YRS OF AGE,6 MONTHS BUT LESS THAN 1 YEAR SERVICE,6 MONTHS TO 1 YEAR,6 MONTHS TO 1 YEAR,No,GHQ,India,SOLUTIONS,English
4,21,MALE,Executives(Bd I-VII),V-VII,VII,Active,35 YRS BUT LESS THAN 45 YRS OF AGE,1 YEAR BUT LESS THAN 5 YEARS SERVICE,1 YEAR TO 3 YEARS,LESS THAN 6 MONTHS,Yes,GHQ,India,SOLUTIONS,English

# Run ETL processes to standardize data: Languages

In [6]:
# Count employees by language
language_counts = df['Language'].value_counts()

# Display the result
print("Employees by language:")
print(language_counts)

Employees by language:
English            11822
Spanish (MAZ)       8746
Portuguese (BR)     5697
Chinese             4201
Spanish (SAZ)       1620
Russian             1171
French (CAN)         875
Ukrainian            687
Dutch                574
Korean               517
German               256
French               239
Vietnamese           191
Italian               89
Spanish (Spain)       71
Japanese              64
Name: Language, dtype: int64

In [7]:
# Assuming 'Language' is the column containing languages in your DataFrame
# Replace variations of Spanish with a single value 'Spanish'
df['Language'] = df['Language'].replace({'Spanish (MAZ)': 'Spanish', 'Spanish (SAZ)': 'Spanish', 'Spanish (Spain)': 'Spanish'})
df['Language'] = df['Language'].replace({'French (CAN)': 'French'})


# Verify the changes
language_counts = df['Language'].value_counts()
print("Employees by language:")
print(language_counts)

Employees by language:
English            11822
Spanish            10437
Portuguese (BR)     5697
Chinese             4201
Russian             1171
French              1114
Ukrainian            687
Dutch                574
Korean               517
German               256
Vietnamese           191
Italian               89
Japanese              64
Name: Language, dtype: int64

# Run ETL processes to standardize data: Global Function

In [8]:
# Count employees by global function
global_function_counts = df['Global Function'].value_counts()

# Display the result
print("Employees by global function:")
print(global_function_counts)

Employees by global function:
SALES                        10659
SUPPLY                        9445
SOLUTIONS                     7619
LOGISTICS                     3216
MARKETING                     1544
PEOPLE                        1241
PROCUREMENT                    896
FINANCE                        823
DIRECT TO CONSUMER             662
LEGAL / CORPORATE AFFAIRS      582
GENERAL MANAGEMENT             116
SUSTAINABILITY                  12
SALES                            3
Procurement                      1
SUPPLY                           1
Name: Global Function, dtype: int64

In [9]:
# Convert all entries within Global Function to lowercase
df['Global Function'] = df['Global Function'].str.lower()

# Standardize SALES and PROCUREMENT
df['Global Function'] = df['Global Function'].replace({'sales ': 'sales', 'procurement': 'procurement','supply ':'supply'})

# Verify the changes
function_counts = df['Global Function'].value_counts()
print("Number of employees by global function after standardization:")
print(function_counts)

Number of employees by global function after standardization:
sales                        10662
supply                        9446
solutions                     7619
logistics                     3216
marketing                     1544
people                        1241
procurement                    897
finance                        823
direct to consumer             662
legal / corporate affairs      582
general management             116
sustainability                  12
Name: Global Function, dtype: int64

# Run ETL processes to standardize data: Gender

In [10]:
# Count employees by gender
gender_counts = df['Gender'].value_counts()

# Display the result
print("Employees by gender:")
print(gender_counts)

Employees by gender:
MALE       24149
FEMALE     12659
UNKNOWN       12
Name: Gender, dtype: int64

In [11]:
# Convert all entries within Gender to lowercase
df['Gender'] = df['Gender'].str.lower()

# Standardize MALE and FEMALE
df['Gender'] = df['Gender'].replace({'male': 'male', 'female': 'female'})

# Verify the changes
gender_counts = df['Gender'].value_counts()
print("Number of employees by gender:")
print(gender_counts)

Number of employees by gender:
male       24149
female     12659
unknown       12
Name: Gender, dtype: int64

# Run ETL processes to standardize data: Band Equivalance

In [12]:
# Count employees by Band Equivalence
band_equivalence_counts = df['Band Equivalence'].value_counts()

# Display the result
print("Employees by band:")
print(band_equivalence_counts)

Employees by band:
VII    18012
VI     11185
V       5279
IV      1607
III      501
II       150
I         57
SLT       16
0         12
CEO        1
Name: Band Equivalence, dtype: int64

In [13]:
# Convert all entries within Band Equivalence
df['Band Equivalence'] = df['Band Equivalence'].str.lower()

# Standardize MALE and FEMALE
df['Band Equivalence'] = df['Band Equivalence'].replace({'vi ': 'vi'})

# Verify the changes
band_equivalence_counts = df['Band Equivalence'].value_counts()
print("Number of employees by band:")
print(band_equivalence_counts)

Number of employees by band:
vii    18012
vi     11185
v       5279
iv      1607
iii      501
ii       150
i         57
slt       16
0         12
ceo        1
Name: Band Equivalence, dtype: int64

# Run ETL processes to standardize data: Manager Flag

In [14]:
# Count employees by Manager Flag
manager_flag_counts = df['Manager Flag'].value_counts()

# Display the result
print("Employees by manager flag:")
print(manager_flag_counts)

Employees by manager flag:
No     21067
Yes    15753
Name: Manager Flag, dtype: int64

In [15]:
## No changes are needed

# Run ETL processes to standardize data: Zone

In [16]:
# Count employees by Zone
zone_counts = df['Zone'].value_counts()

# Display the result
print("Employees by Zone:")
print(zone_counts)

Employees by Zone:
MAZ              8800
SAZ              7302
APC              5377
NAZ              4841
EUR              4196
GHQ              3120
AFR              2560
GROWTH GROUPS     624
Name: Zone, dtype: int64

In [17]:
## No changes are needed